<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Find sickness based on symptoms?</string>
	<string>Do you want to go to a doctor?</string>
	<string>Go to www.symcat.com to enter your symptoms.</string>
	<string>Some simple solutions: get some sleep, eat simple food, take medicine.</string>
	<string>Then you better call your doctor!</string>
	<string>Would you like a video or quote?</string>
	<string>Do you need help from peers or professionals?</string>
	<string>https://www.youtube.com/watch?v=JLnasM2ZdUw</string>
	<string>https://www.youtube.com/watch?v=bgXPl3XM_NA</string>
	<string>https://www.youtube.com/watch?v=xn4yais2W6w</string>
	<string>Being happy never goes out of style. - Lilly Pulitzer</string>
	<string>I am determined to be cheerful and happy in whatever situation I may find myself. For I have learned that the greater part of our misery or unhappiness is determined not by our circumstance but by our disposition - Martha Washington</string>
	<string>The only thing that will make you happy is being happy with who you are, and not who people think you are - Goldie Hawn</string>
	<string>Cool down and get your mind on something else.</string>
	<string>Talk to your friends or family, and if need be talk to a professional.</string>
	<string>Would you like a image/video or quote/joke?</string>
	<string>Do you need help from peers or professionals?</string>
	<string>https://www.youtube.com/watch?v=g4xLVP_eFec</string>
	<string>https://www.youtube.com/watch?v=lEwwG-sWF4Q</string>
	<string>https://www.youtube.com/watch?v=hrhGTR54E5k</string>
	<string>If you want to conquer the anxiety of life, live in the moment, live in the breath ― Amit Ray, Om Chanting and Meditation</string>
	<string>The greatest weapon against stress is our ability to choose one thought over another - William James</string>
	<string>The greatest weapon against stress is our ability to choose one thought over another - William James</string>
	<string>Some simple solutions: play your favorite song, exercise, play 1 game of solitaire, meditate.</string>
	<string>Then you better call your doctor or talk to your parents!</string>
	<string>Would you like a joke or videos/images?</string>
	<string>What happens to a frogs car when it breaks down? It gets toad away.</string>
	<string>A teacher asked her students to use the word &quot;beans&quot; in a sentence. &quot;My father grows beans,&quot; said one girl. &quot;My mother cooks beans,&quot; said a boy. A third student spoke up, &quot;We are all human beans.&quot;</string>
	<string>http://imgur.com/gallery/d1aQH</string>
	<string>http://cheezburger.com/8772952320/prank-store-cauliflower-great-shopping-tips</string>
	<string>Would you like a nap?</string>
	<string>Do you need help from peers or professionals?</string>
	<string>You should nap for 30mins to 1hr</string>
	<string>Some exercise &amp; eat healthy</string>
	<string>Go to bed as early as possibe</string>
	<string>Splash some water on your face</string>
	<string>SMILE! :)</string>
	<string>Put on nice clothes</string>
	<string>Clean your room or be active in some way</string>
	<string>Dont look at electronics before bed as they can cause you to have a bad sleep</string>
	<string>You could have a cold.  Check out the sick option on the home screen for more.</string>
	<string>Talk to your doctor or parents, and see if they could provide a solution</string>
	<string>Would you like a image/video or movie quotes?</string>
	<string>http://imgur.com/gallery/fEdBvxh</string>
	<string>We jumped out a WIINDOOOW!</string>
	<string>Bah lala lala!</string>
	<string>I am not fast.</string>
	<string>Hairy baby! Hairy baby!</string>
	<string>My ninja skills are sweet!</string>
	<string>Always wait one hour after eating before swimming.</string>
	<string>I also know karate.</string>
</array>
</plist>
